$font-family:marine,sans-serif;
$regular-font-weight:400;
$bold-font-weight:700;

/////colors/////
$hover-color:#A398F7;
$font-color:#161616;
$bg-color-1:#EB9486;
$text-color:rgba(27,27,27,0.8);
$cta-color:#473BF0;
$btn-text-color-light:#E7E6F0;
$font-size:21px;
$project1-pill-color:#A37CB5;
$project2-pill-color:#EDCE1D;
$bg-color-2:#FFF4FF;
$bg-color:#F8EBB1;
$bg1-color:#FBEAE7;

