@import "reset";
@import "variables";
@import "mixins";


body{
    font-family: $font-family;
    font-size:21px;
}

////main-container////
.main-container{
    margin:10px auto;
    padding:10px 20px;
    position:relative;
}
///////////NavBar///////////

.navbar{
    position:sticky;
    top:0;
    z-index:2;
    ul{
        display:flex;
        width:100%;
        align-items:center;

        @include mq(600px){
            flex-wrap: wrap;
        }

        li{
            list-style-type: none;
            padding:1rem;
        }
        a{
            text-decoration: none;
        }
    }
}

.navbar-logo{
    flex:1;
    font-size:1.5rem;
    user-select: none;
}

.navbar-toggle{
    display: none;

    @include mq(600px){
        display: block;
    }
}

.navbar-links{
    &:hover{
        background-color:$hover-color;
        border-radius: 10px;

        a{
            color:$font-color;
        }
    }
    @include mq(600px){
        display:none;
        width:100%;
        text-align: center;
    }
}

@include mq(600px){
    .active{
        display: block;
    }
}


///landing page////

.landingPage{
    min-height: 90vh;
    text-align: center;
   // border:2px solid black;
    position:relative;
    display:grid;
    place-items: center;
    
}
.bg1{
    position: absolute;
    top: 0%;
    left: 50%;
    width: 50%;
    height: 100%;
    background-color: lighten($bg-color-1,19);
}
.content{
   //border:2px solid $text-color;
   z-index:1;
   p{
       padding:1.5% 0;
       color:$text-color;
       text-align: left;
   }
   h1{
       padding-top:0;
       padding-bottom:1.5%;
       color:$text-color;

       span{
           color:$cta-color;
       }
   }
   .btn{
       background-color: $cta-color;
       float:left;
       a{
           color:$btn-text-color-light;
       }
   }
}
.btn{
    padding:2% 2.5%;
    font-size:1.2rem;
    font-weight:$bold-font-weight;
    border:none;
    border-radius:5px;
    margin:1.5% 0;
    a{
        text-decoration: none;
    }
}

////projects/////















