@import "reset";
@import "variables";
@import "mixins";


body{
    font-family: $font-family;
    font-size:$font-size;
}

////main-container////
.main-container{
    margin:10px auto;
    padding:10px 20px;
    position:relative;
}
///////////NavBar///////////

.navbar{
    position:sticky;
    top:0;
    z-index:2;
    ul{
        display:flex;
        width:100%;
        align-items:center;

        @include mq(600px){
            flex-wrap: wrap;
        }

        li{
            list-style-type: none;
            padding:1rem;
        }
        a{
            text-decoration: none;
        }
    }
}

.navbar-logo{
    flex:1;
    font-size:1.5rem;
    user-select: none;
}

.navbar-toggle{
    display: none;

    @include mq(600px){
        display: block;
    }
}

.navbar-links{
    &:hover{
        background-color:$hover-color;
        border-radius: 10px;

        a{
            color:$font-color;
        }
    }
    @include mq(600px){
        display:none;
        width:100%;
        text-align: center;
    }
}

@include mq(600px){
    .active{
        display: block;
    }
}


///landing page////

.landingPage{
    min-height: 90vh;
    text-align: center;
   // border:2px solid black;
    position:relative;
    display:grid;
    place-items: center;
    
}
.bg1{
    position: absolute;
    top: 0%;
    left: 50%;
    width: 50%;
    height: 100%;
    background-color: lighten($bg-color-1,19);
}
.content{
   //border:2px solid $text-color;
   z-index:1;
   p{
       padding:1.5% 0;
       color:$text-color;
       text-align: left;
   }
   h1{
       padding-top:0;
       padding-bottom:1.5%;
       color:$text-color;
       font-size:3rem;

       span{
           color:$cta-color;
       }
   }
   .btn{
       background-color: $cta-color;
       float:left;
       a{
           color:$btn-text-color-light;
       }
   }
}
.btn{
    @include base_button;
}

////projects/////
.bg2{
    background-color: lighten($bg-color-1,19);
}
.projects{
    margin-top:0;
    padding-top:0;
   // border:2px solid red;
    display:grid;

    h2{
       @include h2_style;
    }
    .card{
        @include card_base_style;

        .image{
           background-image: url(Images/covid19app.png);
        }
        li{
            border:2px solid $project1-pill-color;
        }
        .btn{
            @include base_button;
            background-color: $project1-pill-color;
            color:white;
            padding:3% 4%;
        }
    }
    .card1frame{
       @include cardframeright;
       
    }
}















