* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: marine, sans-serif;
  font-size: 21px;
}

@media screen and (max-width: 950px) {
  body {
    font-size: 18px;
  }
}

@media screen and (max-width: 800px) {
  body {
    font-size: 16px;
  }
}

.main-container {
  margin: 10px auto;
  padding: 10px 20px;
  position: relative;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  background: white;
  top: 0;
  z-index: 2;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 600px) {
  .navbar ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.navbar ul li {
  list-style-type: none;
  padding: 1rem;
}

.navbar ul a {
  text-decoration: none;
}

.navbar-logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.navbar-toggle {
  display: none;
}

@media screen and (max-width: 600px) {
  .navbar-toggle {
    display: block;
  }
}

.navbar-links:hover {
  background-color: #A398F7;
  border-radius: 10px;
}

.navbar-links:hover a {
  color: #161616;
}

@media screen and (max-width: 600px) {
  .navbar-links {
    display: none;
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .active {
    display: block;
  }
}

.landingPage {
  min-height: 90vh;
  text-align: center;
  position: relative;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.bg1 {
  position: absolute;
  top: 0%;
  left: 50%;
  width: 50%;
  height: 100%;
  background-color: #f9ded9;
}

.content {
  z-index: 1;
}

.content p {
  padding: 1.5% 0;
  color: rgba(27, 27, 27, 0.8);
  text-align: left;
}

.content h1 {
  padding-top: 0;
  padding-bottom: 1.5%;
  color: rgba(27, 27, 27, 0.8);
  font-size: 3rem;
}

@media screen and (max-width: 950px) {
  .content h1 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 800px) {
  .content h1 {
    font-size: 2rem;
  }
}

.content h1 span {
  color: #5d53f2;
}

.content .btn {
  background-color: #473BF0;
  float: left;
}

.content .btn a {
  color: #E7E6F0;
}

.content .btn:hover {
  -webkit-box-shadow: 0px 8px 16px #37364D;
          box-shadow: 0px 8px 16px #37364D;
}

.btn {
  padding: 2% 2.5%;
  font-size: 1.2rem;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  margin: 1.5% 0;
  cursor: pointer;
  -webkit-transition: all 0.5sec ease-in 1s;
  transition: all 0.5sec ease-in 1s;
}

.btn a {
  text-decoration: none;
}

.bg2 {
  background-color: #f9ded9;
}

.projects {
  margin-top: 0;
  padding-top: 0;
  display: -ms-grid;
  display: grid;
}

.projects h2 {
  font-weight: 500;
  color: rgba(27, 27, 27, 0.8);
  text-align: center;
  font-size: 1.9rem;
  margin-top: 5%;
}

.projects h2 .tag {
  color: #A398F7;
}

.projects .card1 {
  right: 10%;
  margin: 3% -7% 3% 0;
  padding: 9% 2% 9% 0%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  /*  .fab{
            &:hover{
                box-shadow: 0px 8px 16px #37364D;
               } 
        }*/
}

.projects .card1 .image {
  min-width: 50%;
  min-height: 70%;
  /* top:21px;
            left:0;
            width:50%;
            
            position:absolute; */
  background-size: contain;
  background-repeat: no-repeat;
}

.projects .card1 .projectContent {
  width: 50%;
  /* top:18px;
            width:50%;
            left:50%;
            height:100%; */
  padding-left: 6%;
  padding-right: 6%;
}

.projects .card1 .projectContent .pills {
  margin: 0;
  padding: 0.8em 0;
}

.projects .card1 .projectContent .pills ul {
  list-style-type: none;
}

.projects .card1 .projectContent .pills li {
  display: inline-block;
  border-radius: 10px;
  margin: 0.2rem 0.1rem;
  font-size: 0.9em;
  color: rgba(27, 27, 27, 0.8);
  padding: 3px 10px;
}

.projects .card1 .projectContent h3 {
  font-weight: 500;
  font-size: 2rem;
}

.projects .card1 .projectContent .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 10px;
  margin: 0.8rem 0;
}

.projects .card1 .projectContent .buttons .fab {
  font-size: 2rem;
  padding: 2% 2.5%;
}

@media screen and (max-width: 800px) {
  .projects .card1 h3 {
    font-size: 1.1rem;
  }
}

.projects .card1 img {
  display: none;
}

.projects .card1 .image {
  background-image: url(Images/covid19app.png);
}

.projects .card1 li {
  border: 2px solid #A37CB5;
}

.projects .card1 p {
  color: rgba(27, 27, 27, 0.8);
  line-height: 31.5px;
}

.projects .card1 .btn {
  padding: 2% 2.5%;
  font-size: 1.2rem;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  margin: 1.5% 0;
  cursor: pointer;
  -webkit-transition: all 0.5sec ease-in 1s;
  transition: all 0.5sec ease-in 1s;
  background-color: #A37CB5;
  color: white;
  padding: 3% 4%;
}

.projects .card1 .btn a {
  text-decoration: none;
}

.projects .card1 .btn:hover {
  -webkit-box-shadow: 0px 8px 16px #45364D;
          box-shadow: 0px 8px 16px #45364D;
}

@media screen and (max-width: 700px) {
  .projects .card1 {
    padding: 0%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
  }
  .projects .card1 .image {
    grid-column: 1/-1;
    background-size: cover;
  }
  .projects .card1 .projectContent {
    grid-column: 1/-1;
    width: 100%;
  }
}

.projects .card1frame {
  position: relative;
  width: 70%;
  margin: 6% 15% 5% 15%;
  background-color: #EDCE1D;
}

.projects .card2 {
  left: 10%;
  margin: 3% 0% 3% -7%;
  padding: 9% 2% 9% 0%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
}

.projects .card2 .image {
  min-width: 50%;
  min-height: 70%;
  /* top:21px;
            left:0;
            width:50%;
            
            position:absolute; */
  background-size: contain;
  background-repeat: no-repeat;
}

.projects .card2 .projectContent {
  width: 50%;
  /* top:18px;
            width:50%;
            left:50%;
            height:100%; */
  padding-left: 6%;
  padding-right: 6%;
}

.projects .card2 .projectContent .pills {
  margin: 0;
  padding: 0.8em 0;
}

.projects .card2 .projectContent .pills ul {
  list-style-type: none;
}

.projects .card2 .projectContent .pills li {
  display: inline-block;
  border-radius: 10px;
  margin: 0.2rem 0.1rem;
  font-size: 0.9em;
  color: rgba(27, 27, 27, 0.8);
  padding: 3px 10px;
}

.projects .card2 .projectContent h3 {
  font-weight: 500;
  font-size: 2rem;
}

.projects .card2 .projectContent .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 10px;
  margin: 0.8rem 0;
}

.projects .card2 .projectContent .buttons .fab {
  font-size: 2rem;
  padding: 2% 2.5%;
}

.projects .card2 .image {
  background-image: url(Images/desktop-design.jpg);
}

.projects .card2 li {
  border: 2px solid #EDCE1D;
}

.projects .card2 p {
  color: rgba(27, 27, 27, 0.8);
  line-height: 31.5px;
}

.projects .card2 .btn {
  padding: 2% 2.5%;
  font-size: 1.2rem;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  margin: 1.5% 0;
  cursor: pointer;
  -webkit-transition: all 0.5sec ease-in 1s;
  transition: all 0.5sec ease-in 1s;
  background-color: #EDCE1D;
  color: rgba(27, 27, 27, 0.8);
  padding: 3% 4%;
}

.projects .card2 .btn a {
  text-decoration: none;
}

.projects .card2 .btn:hover {
  -webkit-box-shadow: 0px 8px 16px #4D4936;
          box-shadow: 0px 8px 16px #4D4936;
}

@media screen and (max-width: 700px) {
  .projects .card2 {
    padding: 0%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
  }
  .projects .card2 .image {
    grid-column: 1/-1;
    background-size: cover;
  }
  .projects .card2 .projectContent {
    grid-column: 1/-1;
    width: 100%;
  }
}

.projects .card2frame {
  position: relative;
  width: 70%;
  margin: 6% 15% 5% 15%;
  background-color: #75439B;
}

.about {
  height: 100%;
  position: relative;
}

.about h2 {
  font-weight: 500;
  color: rgba(27, 27, 27, 0.8);
  text-align: center;
  font-size: 1.9rem;
  margin-top: 5%;
  padding-top: 5%;
  margin-top: 0;
  margin-bottom: 5%;
}

.about h2 .tag {
  color: #A398F7;
}

.about .about_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .about_container .abouttext {
  width: 50%;
  padding: 10px;
  padding: 0 3% 4% 5%;
}

.about .about_container .abouttext p {
  color: rgba(27, 27, 27, 0.8);
  line-height: 31.5px;
}

.about .about_container .abouttext p span {
  background-color: #EDCE1D;
}

.about .about_container .abouttext .btn {
  padding: 2% 2.5%;
  font-size: 1.2rem;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  margin: 1.5% 0;
  cursor: pointer;
  -webkit-transition: all 0.5sec ease-in 1s;
  transition: all 0.5sec ease-in 1s;
  background-color: #A37CB5;
  color: white;
  margin-top: 21px;
  padding: 3% 4%;
}

.about .about_container .abouttext .btn a {
  text-decoration: none;
}

.about .about_container .abouttext .btn:hover {
  -webkit-box-shadow: 0px 8px 16px #45364D;
          box-shadow: 0px 8px 16px #45364D;
}

.about .about_container .skills {
  width: 50%;
  padding-left: 5%;
}

.about .about_container .skills h3 {
  color: rgba(104, 104, 104, 0.8);
  font-weight: 500;
}

.about .about_container .skills .skillslist {
  padding: 20px 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (40%)[2];
      grid-template-columns: repeat(2, 40%);
  grid-auto-rows: min-width(200px);
}

@media screen and (max-width: 1070px) {
  .about .about_container .skills .skillslist {
    -ms-grid-columns: (50%)[2];
        grid-template-columns: repeat(2, 50%);
  }
}

.about .about_container .skills .skillslist li {
  list-style-type: none;
  text-align: center;
  padding: 15px 20px;
}

.about .about_container .skills .skillslist .js {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  color: rgba(27, 27, 27, 0.8);
}

.about .about_container .skills .skillslist .HTML {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  color: rgba(27, 27, 27, 0.8);
}

.about .about_container .skills .skillslist .css {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  color: rgba(27, 27, 27, 0.8);
}

.about .about_container .skills .skillslist .sass {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  color: rgba(27, 27, 27, 0.8);
}

.about .about_container .skills .skillslist .jest {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  color: rgba(27, 27, 27, 0.8);
}

.about .about_container .skills .skillslist .git {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  color: rgba(27, 27, 27, 0.8);
}

.about .about_container .skills .skillslist .color {
  background-color: #edce1d;
}

@media screen and (max-width: 700px) {
  .about .about_container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .about .about_container .abouttext {
    grid-column: 1/-1;
    width: 100%;
  }
  .about .about_container .skills {
    grid-column: 1/-1;
    width: 100%;
    padding-left: 7%;
  }
}

@media screen and (max-width: 700px) and (max-width: 1070px) {
  .about .about_container .skills .skillslist {
    -ms-grid-columns: (30%)[2];
        grid-template-columns: repeat(2, 30%);
  }
}

.bg3 {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #FFF4FF), color-stop(50%, white));
  background: linear-gradient(90deg, #FFF4FF 50%, white 50%);
}

.bg4 {
  background: #FFF4FF;
}

.contact {
  padding-bottom: 5%;
}

.contact h2 {
  font-weight: 500;
  color: rgba(27, 27, 27, 0.8);
  text-align: center;
  font-size: 1.9rem;
  margin-top: 5%;
  padding-top: 5%;
  margin: 0 0 0 -5%;
  margin-bottom: 5%;
}

.contact h2 .tag {
  color: #A398F7;
}

.contact .contactform {
  position: relative;
  background-color: white;
  position: relative;
  right: 10%;
  margin: 3% -7% 3% 0;
}

.contact .contactform label {
  font-family: marine, sans-serif;
  color: rgba(27, 27, 27, 0.8);
}

.contact .contactform .form {
  padding: 5% 20%;
}

.contact .contactform input[type=text], .contact .contactform input[type=email], .contact .contactform select, .contact .contactform textarea {
  all: unset;
  width: 100%;
  font-family: marine, sans-serif;
  font-size: 1.2rem;
  padding: 12px;
  border: 1px solid rgba(27, 27, 27, 0.8);
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.contact .contactform input[type=text]:focus, .contact .contactform input[type=email]:focus, .contact .contactform select:focus, .contact .contactform textarea:focus {
  border: 3px solid #A37CB5;
}

.contact .contactform .btn {
  padding: 2% 2.5%;
  font-size: 1.2rem;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  margin: 1.5% 0;
  cursor: pointer;
  -webkit-transition: all 0.5sec ease-in 1s;
  transition: all 0.5sec ease-in 1s;
  background-color: #EDCE1D;
  color: rgba(27, 27, 27, 0.8);
  margin-top: 21px;
  padding: 1rem 2rem;
}

.contact .contactform .btn a {
  text-decoration: none;
}

.contact .contactform .btn:hover {
  -webkit-box-shadow: 0px 8px 16px #4D4936;
          box-shadow: 0px 8px 16px #4D4936;
}

.contact .card1frame {
  border: 1px solid #EDCE1D;
  position: relative;
  width: 70%;
  margin: 6% 15% 5% 15%;
  background-color: #75439B;
  width: 50%;
  margin: 0 auto;
}

@media screen and (max-width: 700px) {
  .contact .card1frame {
    width: 70%;
  }
}

.footer {
  background-color: #473BF0;
  padding: 25px 0;
}

.footer p {
  color: rgba(27, 27, 27, 0.8);
  line-height: 31.5px;
  color: white;
  opacity: 0.8;
  text-align: center;
}
/*# sourceMappingURL=styles.css.map */