* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: marine, sans-serif;
  font-size: 21px;
}

.main-container {
  margin: 10px auto;
  padding: 10px 20px;
  position: relative;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 600px) {
  .navbar ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.navbar ul li {
  list-style-type: none;
  padding: 1rem;
}

.navbar ul a {
  text-decoration: none;
}

.navbar-logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.navbar-toggle {
  display: none;
}

@media screen and (max-width: 600px) {
  .navbar-toggle {
    display: block;
  }
}

.navbar-links:hover {
  background-color: #A398F7;
  border-radius: 10px;
}

.navbar-links:hover a {
  color: #161616;
}

@media screen and (max-width: 600px) {
  .navbar-links {
    display: none;
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .active {
    display: block;
  }
}

.landingPage {
  min-height: 90vh;
  text-align: center;
  position: relative;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.bg1 {
  position: absolute;
  top: 0%;
  left: 50%;
  width: 50%;
  height: 100%;
  background-color: #f9ded9;
}

.content {
  z-index: 1;
}

.content p {
  padding: 1.5% 0;
  color: rgba(27, 27, 27, 0.8);
  text-align: left;
}

.content h1 {
  padding-top: 0;
  padding-bottom: 1.5%;
  color: rgba(27, 27, 27, 0.8);
  font-size: 3rem;
}

.content h1 span {
  color: #473BF0;
}

.content .btn {
  background-color: #473BF0;
  float: left;
}

.content .btn a {
  color: #E7E6F0;
}

.btn {
  padding: 2% 2.5%;
  font-size: 1.2rem;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  margin: 1.5% 0;
}

.btn a {
  text-decoration: none;
}

.bg2 {
  background-color: #f9ded9;
}

.projects {
  margin-top: 0;
  padding-top: 0;
  display: -ms-grid;
  display: grid;
}

.projects h2 {
  font-weight: 500;
  color: rgba(27, 27, 27, 0.8);
  text-align: center;
  font-size: 1.9rem;
  margin-top: 5%;
}

.projects h2 .tag {
  color: #A398F7;
}

.projects .card1 {
  right: 10%;
  margin: 3% -7% 3% 0;
  padding: 9% 2% 9% 0%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
}

.projects .card1 .image {
  min-width: 50%;
  min-height: 70%;
  /* top:21px;
            left:0;
            width:50%;
            
            position:absolute; */
  background-size: contain;
  background-repeat: no-repeat;
}

.projects .card1 .projectContent {
  width: 50%;
  /* top:18px;
            width:50%;
            left:50%;
            height:100%; */
  padding-left: 6%;
  padding-right: 6%;
}

.projects .card1 .projectContent .pills {
  margin: 0;
  padding: 0.8em 0;
}

.projects .card1 .projectContent .pills ul {
  list-style-type: none;
}

.projects .card1 .projectContent .pills li {
  display: inline-block;
  border-radius: 10px;
  margin: 0.2rem 0.1rem;
  font-size: 0.9em;
  color: rgba(27, 27, 27, 0.8);
  padding: 3px 10px;
}

.projects .card1 .projectContent p {
  color: rgba(27, 27, 27, 0.8);
  line-height: 31.5px;
}

.projects .card1 .projectContent h3 {
  font-weight: 500;
  font-size: 2rem;
}

.projects .card1 .projectContent .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 10px;
  margin: 0.8rem 0;
}

.projects .card1 .projectContent .buttons .fab {
  font-size: 2rem;
  padding: 2% 2.5%;
}

.projects .card1 .image {
  background-image: url(Images/covid19app.png);
}

.projects .card1 li {
  border: 2px solid #A37CB5;
}

.projects .card1 .btn {
  padding: 2% 2.5%;
  font-size: 1.2rem;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  margin: 1.5% 0;
  background-color: #A37CB5;
  color: white;
  padding: 3% 4%;
}

.projects .card1 .btn a {
  text-decoration: none;
}

.projects .card1frame {
  position: relative;
  width: 70%;
  margin: 6% 15% 5% 15%;
  background-color: #EDCE1D;
}

.projects .card2 {
  left: 10%;
  margin: 3% 0% 3% -7%;
  padding: 9% 2% 9% 0%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
}

.projects .card2 .image {
  min-width: 50%;
  min-height: 70%;
  /* top:21px;
            left:0;
            width:50%;
            
            position:absolute; */
  background-size: contain;
  background-repeat: no-repeat;
}

.projects .card2 .projectContent {
  width: 50%;
  /* top:18px;
            width:50%;
            left:50%;
            height:100%; */
  padding-left: 6%;
  padding-right: 6%;
}

.projects .card2 .projectContent .pills {
  margin: 0;
  padding: 0.8em 0;
}

.projects .card2 .projectContent .pills ul {
  list-style-type: none;
}

.projects .card2 .projectContent .pills li {
  display: inline-block;
  border-radius: 10px;
  margin: 0.2rem 0.1rem;
  font-size: 0.9em;
  color: rgba(27, 27, 27, 0.8);
  padding: 3px 10px;
}

.projects .card2 .projectContent p {
  color: rgba(27, 27, 27, 0.8);
  line-height: 31.5px;
}

.projects .card2 .projectContent h3 {
  font-weight: 500;
  font-size: 2rem;
}

.projects .card2 .projectContent .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 10px;
  margin: 0.8rem 0;
}

.projects .card2 .projectContent .buttons .fab {
  font-size: 2rem;
  padding: 2% 2.5%;
}

.projects .card2 .image {
  background-image: url(Images/desktop-design.jpg);
}

.projects .card2 li {
  border: 2px solid #A37CB5;
}

.projects .card2 .btn {
  padding: 2% 2.5%;
  font-size: 1.2rem;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  margin: 1.5% 0;
  background-color: #A37CB5;
  color: white;
  padding: 3% 4%;
}

.projects .card2 .btn a {
  text-decoration: none;
}

.projects .card2frame {
  position: relative;
  width: 70%;
  margin: 6% 15% 5% 15%;
  background-color: #75439B;
}
/*# sourceMappingURL=styles.css.map */